<template lang="html">
  <div class="text">
    <textarea placeholder="Enter to Send" v-model="content" @keyup="onKeyup"></textarea>
  </div>
</template>

<script>
export default {
  name: 'chat-input',
  data () {
    return {
      content: ''
    };
  },
  methods: {
    onKeyup (e) {
      if (e.keyCode === 13 && this.content.length) {
        this.send();
        this.content = '';
      }
    },
    send () {
      this.$store.dispatch('rooms/sendMessage', {
        text: this.content,
        created: Date.now(),
        roomId: localStorage.selectedRoom,
        sender: this.$store.state.users.currentUser
      })
    }
  }
}
</script>

<style scoped lang="less">
  .text {
    height: 10vh;
    padding-top: 10px;
    border-top: solid 1px #ddd;

    textarea {
        padding: 15px;
        height: 25px;
        width: 90%;
        border: none;
        outline: bold;
        font-family: "Micrsoft Yahei";
        resize: none;
    }
  }
</style>
