<template lang="html">
  <div class="message">
    <ul>
      <li v-for="message in roomMessages"
          :message="message"
          key: message.id>
        <div :class="{ self: currentUser(message.sender) }">
          <div class="avatar">{{ message.sender }}</div>
          <div class="text">
            {{ message.text }}
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'room-convos',
  data () {
    return {
      isCurrentUser: false,
      roomId: localStorage.selectedRoom
    }
  },
  computed: {
    ...mapState({
      roomMessages: state => state.rooms.roomMessages
    })
  },
  methods: {
    currentUser (msg) {
      return msg === this.$store.state.users.currentUser
    }
  },
  created () {
    this.$store.state.db.collection('rooms').doc(this.roomId).onSnapshot(convo => {
      let source = convo.metadata.hasPendingWrites ? 'Local' : 'Server'

      if (convo && convo.data()) {
        convo.data().messages.forEach(message => this.$store.commit('rooms/ADD_MESSAGE', {
            conversationId: this.id, message })
        )
      }
    })
  }
}
</script>
<style scoped lang="less">
  .message {
    padding: 10px 15px;
    overflow-y: scroll;
  }
  li {
    list-style: none;
    margin-bottom: 15px;
  }
  .text {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    max-width: ~'calc(100% - 40px)';
    min-height: 30px;
    line-height: 2.5;
    font-size: 14px;
    text-align: left;
    word-break: break-all;
    background-color: #fafafa;
    border-radius: 4px;

    &:before {
      content: " ";
      position: absolute;
      top: 9px;
      right: 100%;
      border: 6px solid transparent;
      border-right-color: #fafafa;
    }
  }

  .self {
    text-align: right;

    .avatar {
      float: right;
      margin: 0 0 0 10px;
    }

    .text {
      background-color: #b2e281;

      &:before {
          right: inherit;
          left: 100%;
          border-right-color: transparent;
          border-left-color: #b2e281;
      }
    }
  }
</style>
