<template lang="html">
  <div class="list">
    <ul>
      <li :class="{ active: room.id === currentId }"
          class="name"
          data-letters="AB"
          v-for="room in rooms"
          :key="room.id"
          @click="selectSession(room.id)">

        <p class="avatar">{{ room.name }}</p>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { state } from '../store/index.js'

export default {
  name: 'RoomList',
  props: {
    rooms: {
      type: Array,
      required: true
    }
  },
  methods: {
    selectSession(id) {
      console.log(id);
      this.$store.dispatch('rooms/setActiveRoom', { roomId: id })
      this.$store.dispatch('rooms/getRoomMessages')
    }
  },
  computed: {
    currentId () {
      return this.$store.state.rooms.selectedRoom
    }
  }
}
</script>

<style scoped lang="less">
  .list {
    li {
      padding: 12px 0px;
      border-bottom: 1px solid #292C33;
      cursor: pointer;
      transition: background-color .1s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.03);
        }
        &.active {
          background-color: rgba(255, 255, 255, 0.1);
        }
    }
    .avatar, .name {
      vertical-align: middle;
      float: left;
    }
    .avatar {
      border-radius: 2px;
    }
    .name {
      display: inline-block;
    }
    [data-letters]:before {
      content:attr(data-letters);
      display:inline-block;
      font-size:1em;
      width:2.5em;
      height:2.5em;
      line-height:2.5em;
      text-align:center;
      border-radius:50%;
      background:plum;
      vertical-align:middle;
      margin-right:1em;
      color:white;
      float: left;
    }
  }
</style>
