<template>
  <div id="app">
    <div class="sidebar">
      <init-data></init-data>
      <room-list :rooms="rooms">
      </room-list>
    </div>
    <div class="main">
      <room-convos>
      </room-convos>
      <chat-input></chat-input>
    </div>
  </div>
</template>

<script>
import InitData from './Init.vue'
import RoomList from './components/RoomList.vue'
import RoomConvos from './components/RoomConvos.vue'
import ChatInput from './components/ChatInput.vue'

export default {
  name: 'app',
  data () {
    return {
      rooms: [],
      room: {},
      messages: [],
      roomId: ''
    }
  },
  created () {
    let roomRef = this.$store.state.rooms
    this.$store.dispatch('rooms/getRooms').then(
      console.log('Finished Getting Rooms'))
      .then(
        this.rooms = roomRef.allRooms,
        this.roomId = localStorage.selectedRoom,
        console.log('set vars', this.roomId)
    )
  },
  components: {
    InitData,
    RoomList,
    RoomConvos,
    ChatInput
  }
}
</script>

<style lang="less" scoped>
  #app {
    margin: auto;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    border-radius: 3px;

    .sidebar, .main {
      height: 100%;
    }
    .sidebar {
      float: left;
      width: 200px;
      color: #f4f4f4;
      background-color: #2e3238;
    }
    .main {
      position: relative;
      overflow: hidden;
      background-color: #fff;
    }
    .text {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: #eee;
    }
    .message {
      height: ~'calc(100% - 160px)';
    }
  }
</style>
