<template>
  <div>
    <button @click="init">Intialize DB</button>
    <button @click="get">Get</button>
  </div>
</template>

<script>
export default {
  name: 'InitData',
  methods: {
    init () {
      this.$store.dispatch('users/seed')
      this.$store.dispatch('rooms/seed')
    },

    get () {
      this.$store.dispatch('users/get')
      this.$store.dispatch('rooms/get')
    }
  }
}
</script>

<style lang="css">
</style>
